<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>127.0.0.1</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_mcp._tcp</string>
	</array>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>${PRODUCT_NAME} needs access to provide event information to the MCP server.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>${PRODUCT_NAME} needs access to provide reminders information to the MCP server.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>${PRODUCT_NAME} needs screen recording permission to capture screenshots for AI assistants.</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://downloads.aiva.app/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>+2ibtYfPSNKpUJsn1R9Ywc1GnjQA5vemVN95d0EzGxg=</string>
</dict>
</plist>
